@import "../base";

.form-group{
  margin-bottom: 0;
  min-height: 93px;
}

.form-control {
  color: map_get($colors, "black-lighter");
  line-height: 20px;
  font-size: 14px;
  padding: 8px 14px;
  border: 2px solid map_get($colors, "gray-lighter");

  &.is-invalid{
    border-color: map_get($colors, "red-lighter");

    &:focus {
      border-color: map_get($colors, "red-light");
    }
  }

  &:focus {
    border-color: transparentize(map_get($colors, "black"), 0.75);
    box-shadow: 0 0 0 0.2rem transparentize(map_get($colors, "black"), 0.9);
  }

  &:disabled{
    background-color: transparentize(map_get($colors, "black"), 0.85);
    opacity: 0.45;
    color: map_get($colors, "gray-dark");
    border: 2px solid map_get($colors, "gray-light");
  }
}
