.modal-content {
  max-height: calc(100vh - (0.5rem * 2));
  border: none;
}

.modal-header {
  border-bottom: none;
  padding: 0;
}

.modal-body {
  padding: 0;
}

.modal-footer {
  padding: 0;
  border-top: none;
  justify-content: space-between;
}
