@import "../base";

//
// Base styles
//

.btn {
  border-radius: ($spacer * 3);
  padding: map-get($spacers, 3) map-get($spacers, 5);
  border-width: map-get($spacers, 1);

  &:disabled{
    opacity: 0.25;
  }
}

.btn-sm {
  border-radius: map-get($spacers, 4);
  padding: map-get($spacers, 2) map-get($spacers, 4);
}


.btn-plain {
  &,
  &:disabled {
    color: $dark;
    background-color: transparent;
    border-color: $dark;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

