@import "../base/index";
@import "~bootstrap/scss/dropdown";

.dropdown-item:hover{
  background-color: $brand-gray-dark;
  color: $white;
}

.dropdown-divider {
  border-top: 1px solid $brand-gray-darker;
}
