@import "../base";

.nav-tabs {
  border: transparent;

  .current-segment {
    height: map-get($spacers, 2);
    bottom: -($spacer * 2.5);
    border-radius: map-get($spacers, 1);
    background: $green;
    position: absolute;
    transition: transform 400ms;
  }

  .nav-item {
    margin-bottom: map-get($spacers, 1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .nav-link {
    color: $brand-gray-light;
    border: transparent;
    padding: 0;

    &:hover{
      color: darken($brand-gray-light, 10%);
      &:after {
        background-color: darken($success, 10%);
      }
    }

    &.disabled {
      color: $text-muted;
      background-color: transparent;
      border-color: transparent;
      &:after {
        display: none;
      }
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $success;
    background-color: transparent;
    border-color: transparent;
  }
}
