@import "../base";
@import "~bootstrap/scss/tables";

.table {
  font-size: $spacer * 1.75;
}

.table-bordered {
  thead {
    th,
    td {
      border-bottom-width: $table-border-width;
    }
  }
}

.table-hover {
  tbody {
    tr {
      transition: background-color 400ms linear;
    }
  }
}


