@import "../base/index";
@import "~bootstrap/scss/type";

// Weight and italics

.font-weight-black {
  font-weight: $font-weight-black !important;
}

.font-weight-extra-light {
  font-weight: $font-weight-extra-light !important;
}

// Contextual colors

@each $color, $value in $colors {
  @if type-of($value) == 'color' {
    @include text-emphasis-variant(".text-#{$color}", $value);
  } @else {
    @warn ".text-#{$color} can't be made, '#{$value}' is not a color"
  }
}

// Visual Aids

hr {
  margin-top: $spacer;
  margin-bottom: $spacer;
  border: 0;
  border-top: map-get($spacers, 2) solid $hr-border-color;
  border-radius: map-get($spacers, 1);
}
