@import "../base";
@import "~bootstrap/scss/variables";

//
// Font Sizes
//
// @ac-ui/design-system: Extend this if you need sizes
//                       bootstrap does not natively provide
//
$font-size-base: 1rem !default; // 8px
$font-sizes: () !default;
$font-sizes: map-merge((
  1: ($font-size-base * .625), // 10px
  2: ($font-size-base * .8), // 12.8px
  3: ($font-size-base * .875), // 14px
  4: $font-size-base, // 16px
  5: ($font-size-base * 1.25), // 20px
), $font-sizes);
